#back-drop {
    background-color: lightsalmon;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section {
    padding-bottom: 10px;
}

#blurb,
#thanks,
#notice {
    color: darkslategray;
}

#landing-message {
    color: darkslateblue;
}

#project-links {
    display: flex;
    justify-content: center;
    width: 50%;
    justify-self: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#project-links > * {
    background-color: darksalmon;
    border-radius: 10px;
    color: darkred;
    text-decoration: none;
    opacity: 0.75;
    padding: 5px;
    margin-left: 5px;
    width: 40%;
}

##project-links:hover {
    opacity: 1;
}
