#back-drop { 
    background-color: lightsalmon;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section {
    padding: 10px;
}

#blurb, #thanks, #notice {
    color: darkslategray;
}

#project-links {
    padding-bottom: 10%;
}

#landing-message {
    color: darkslateblue;
}

#project-quotes {
    background-color: darksalmon;
    border-radius: 10px;
    color: darkred;
    text-decoration: none;
    opacity: .75;
    padding: 5px;
}

#project-quotes:hover {
    opacity: 1;
}