.back-drop {
	background-color: lightblue;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#quote-box {
	width: 66vw;
	height: 33vw;
	background-color: lightcyan;
	border-radius: 20px;
	padding: 2%;
	font-family: 'Raleway', sans-serif;
	color: slategray;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	position: relative;
	font-size: 1.5vem;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }

#quote {
	transition: opacity 0.25s ease-in-out;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5em;
	/* background-color: red; */
}

#quote-text {
	height: 80%;
	width: 100%;
	background-color: white;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

#author-text {
	font-size: .9em;
	text-align: right;
	margin-right: 10%;
	height: 20%;
	width: 100%;
	padding-top: 2%;
	text-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}

#user-interactions {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

.fa-quote-left {
	font-size: 4vw;
	position: relative;
	top: 5%;
	right: 34%;
	color: darkslategray;
	z-index: 9999;
	animation: fadeIn 1s ease-out forwards;
}

#new-quote-btn {
	background-color: slategrey;
	color: white;
	padding: 12px 24px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
#new-quote-btn:hover {
	background-color: darkslategray;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

#tweet-quote {
	color: darkslategray;
	font-size: 2.5em;
	position: relative;
	top: 15%;
	text-decoration: none;
	transition: all 0.3s ease;
	opacity: .75;
}

#tweet-quote:hover {
	opacity: 1;
}